flows.json
[
    {
        "id": "bef34cc03ba70852",
        "type": "tab",
        "label": "ARMA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f066a2765eb3e8e",
        "type": "tab",
        "label": "Global",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4214f9bd612191e3",
        "type": "tab",
        "label": "FARM1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3db004669120fa05",
        "type": "tab",
        "label": "pH ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2557561621203113",
        "type": "tab",
        "label": "TDS",
        "disabled": false,
        "info": "****",
        "env": []
    },
    {
        "id": "7579ba585a58db4a",
        "type": "tab",
        "label": "LDR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c97ee5904073bf42",
        "type": "tab",
        "label": "soil_quality",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02c4e23538951b3b",
        "type": "tab",
        "label": "Temp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c2cdcc8e151c28e",
        "type": "tab",
        "label": "soil_moisture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53929349c7ee3a5b",
        "type": "tab",
        "label": "HUMIDITY",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d94e539fe4cced5c",
        "type": "tab",
        "label": "OCR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c60959e2c796cb2d",
        "type": "tab",
        "label": "NPK",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3eebc9152987c0e",
        "type": "tab",
        "label": "GUAGES",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4c51ccca9eebd239",
        "type": "tab",
        "label": "CHART",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf2a79eb3678c516",
        "type": "tab",
        "label": "BUTTON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50b9207d502028e1",
        "type": "tls-config",
        "name": "ARMA-TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "8805dbe759dbb5b938494f05b7c2712546d9ef678ba719f4cf40f330b4d290de-certificate.pem.crt",
        "keyname": "8805dbe759dbb5b938494f05b7c2712546d9ef678ba719f4cf40f330b4d290de-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d16e753b1c0fb4e4",
        "type": "mqtt-broker",
        "name": "ARMA-Q",
        "broker": "d002332310q6wvd4iri8x-ats.iot.ap-south-1.amazonaws.com",
        "port": "8883",
        "tls": "50b9207d502028e1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3fa52c4fdd1b96be",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "da9ef61b6c86fd56",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "91f0b6a25b383ff1",
        "type": "ui-page",
        "name": "ARMA",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": false,
        "disabled": false
    },
    {
        "id": "0c269151abe35dd2",
        "type": "ui-group",
        "name": "sunlight ",
        "page": "91f0b6a25b383ff1",
        "width": "12",
        "height": "8",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": false,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "28c59f40f4dd8986",
        "type": "ui-group",
        "name": "Group 2",
        "page": "91f0b6a25b383ff1",
        "width": 12,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3bf1742bb75c013e",
        "type": "ui-page",
        "name": "Global",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page2",
        "icon": "",
        "layout": "tabs",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 10,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "68e307978bed89ba",
        "type": "ui-page",
        "name": "FARM 1",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 11,
        "className": "",
        "visible": false,
        "disabled": "false"
    },
    {
        "id": "119301543ab6085a",
        "type": "ui-page",
        "name": "Temperature",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 9,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a563ef572ed2c3f6",
        "type": "ui-page",
        "name": "pH sensor",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page5",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "cafb492450f505f0",
        "type": "ui-page",
        "name": "LDR",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page6",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 7,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "642fa90a2ea68b95",
        "type": "ui-spacer",
        "group": "",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "4c907440faef1b37",
        "type": "ui-page",
        "name": "TDS sensor",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page7",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "56b3361ae85263f2",
        "type": "ui-group",
        "name": "TDS",
        "page": "4c907440faef1b37",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "163f394ca0057f5d",
        "type": "ui-group",
        "name": "LDR",
        "page": "cafb492450f505f0",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bd417bbded2d4fe1",
        "type": "ui-spacer",
        "group": "163f394ca0057f5d",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "c9af80f12525737b",
        "type": "ui-group",
        "name": "temp",
        "page": "119301543ab6085a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "30f5eae6ef9fbb7c",
        "type": "ui-spacer",
        "group": "c9af80f12525737b",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "7f0c71e74b1a4621",
        "type": "ui-spacer",
        "group": "c9af80f12525737b",
        "name": "spacer",
        "tooltip": "",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "7ae417fe8c25c2b5",
        "type": "ui-page",
        "name": "TURBIDITY",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page9",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 12,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "451bad371ae6f420",
        "type": "ui-group",
        "name": "turb",
        "page": "7ae417fe8c25c2b5",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "634260cbcd40c1f3",
        "type": "ui-spacer",
        "group": "",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "2cd295986a9720d4",
        "type": "ui-page",
        "name": "ORP",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page11",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 13,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "3e693f7b3a458203",
        "type": "ui-group",
        "name": "ORP",
        "page": "2cd295986a9720d4",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f2b57e8015d8bfc8",
        "type": "ui-group",
        "name": "pH value ",
        "page": "a563ef572ed2c3f6",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "18f9c63d51b92264",
        "type": "ui-spacer",
        "group": "f2b57e8015d8bfc8",
        "name": "spacer",
        "tooltip": "",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "07b990f5affc9494",
        "type": "ui-page",
        "name": "soil quality",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page12",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 8,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4d16dfebb2051d7f",
        "type": "ui-group",
        "name": "soil quality",
        "page": "07b990f5affc9494",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "08cfbfa103ef316c",
        "type": "ui-page",
        "name": "Ammonia Nitrate",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page13",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 14,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "5a7244ef8378faed",
        "type": "ui-group",
        "name": "AN(ammonia nitrate",
        "page": "08cfbfa103ef316c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1b93c3f73afab84d",
        "type": "ui-page",
        "name": "GUAGES",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page16",
        "icon": "home",
        "layout": "flex",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "489c228f34a0409b",
        "type": "ui-group",
        "name": "GUAGES",
        "page": "1b93c3f73afab84d",
        "width": 15,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "51204fefe119d509",
        "type": "ui-page",
        "name": "BUTTON",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page17",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6ba1c753604ec92f",
        "type": "ui-group",
        "name": "MOCK BUTTON",
        "page": "51204fefe119d509",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1c03e47f29e15987",
        "type": "ui-page",
        "name": "CHART",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page18",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "9ec07271f2a5b2d1",
        "type": "ui-group",
        "name": "CHART",
        "page": "1c03e47f29e15987",
        "width": 12,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ef6302524803726d",
        "type": "ui-page",
        "name": "soil_moisture",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page21",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 15,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "76a9c339b819629c",
        "type": "ui-group",
        "name": "soil_moisture",
        "page": "ef6302524803726d",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0f66d5366782bd26",
        "type": "ui-group",
        "name": "global",
        "page": "3bf1742bb75c013e",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab882178f51b7b47",
        "type": "ui-page",
        "name": "HUMIDITY",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page19",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 16,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "bb49e983bf236ffd",
        "type": "ui-page",
        "name": "OCR",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page20",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 17,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c7ae25a12c34b4a4",
        "type": "ui-group",
        "name": "HUMIDITY",
        "page": "ab882178f51b7b47",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "bfa056f8e2354464",
        "type": "ui-group",
        "name": "OCR",
        "page": "bb49e983bf236ffd",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a91413e677b5f794",
        "type": "ui-page",
        "name": "NPK",
        "ui": "3fa52c4fdd1b96be",
        "path": "/page23",
        "icon": "home",
        "layout": "grid",
        "theme": "da9ef61b6c86fd56",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 18,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c0785d4a3c39ddb9",
        "type": "ui-group",
        "name": "NPK",
        "page": "a91413e677b5f794",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2cd33ee0ae70ebc4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80202af922023d9a",
        "type": "ui-group",
        "name": "status",
        "page": "",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "dcb66fe205fb3478",
        "type": "mqtt in",
        "z": "bef34cc03ba70852",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "53f5e1fb04984dea",
                "90561ba3074d2b20",
                "8809755ed6093c08",
                "d67925dd96dd84b7",
                "0f9eb470fd5719c0",
                "9827aab1d895ac34"
            ]
        ]
    },
    {
        "id": "65e0b73b49c11368",
        "type": "mqtt out",
        "z": "bef34cc03ba70852",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "53f5e1fb04984dea",
        "type": "debug",
        "z": "bef34cc03ba70852",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "9eeaa40ffd8b91ae",
        "type": "ui-button",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "My Button",
        "label": "Send Data LDR",
        "order": 5,
        "width": 3,
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"LDRsensorvalue\":300,\"LDRsensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "a1c912e3ea148c30"
            ]
        ]
    },
    {
        "id": "7818c32a74496dc3",
        "type": "ui-gauge",
        "z": "bef34cc03ba70852",
        "name": "LDR",
        "group": "0c269151abe35dd2",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "3",
        "height": "2",
        "gtype": "gauge-battery",
        "gstyle": "needle",
        "title": "sunlight ",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 930,
        "y": 60,
        "wires": []
    },
    {
        "id": "90561ba3074d2b20",
        "type": "change",
        "z": "bef34cc03ba70852",
        "name": "LDR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LDRsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "7818c32a74496dc3",
                "3e72855d76a2c208"
            ]
        ]
    },
    {
        "id": "a1c912e3ea148c30",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 1",
        "func": "let mymsg = msg.payload;\nmymsg.LDRsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "65e0b73b49c11368"
            ]
        ]
    },
    {
        "id": "73dabe7193a9060f",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 2",
        "func": "let mymesg = msg.payload;\nmymesg.watersensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 200,
        "wires": [
            [
                "65e0b73b49c11368"
            ]
        ]
    },
    {
        "id": "8809755ed6093c08",
        "type": "change",
        "z": "bef34cc03ba70852",
        "name": "water",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.watersensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 200,
        "wires": [
            [
                "68787b6ebff37371",
                "fe2888d3527c26a3"
            ]
        ]
    },
    {
        "id": "68787b6ebff37371",
        "type": "ui-gauge",
        "z": "bef34cc03ba70852",
        "name": "water level",
        "group": "28c59f40f4dd8986",
        "order": 1,
        "width": 4,
        "height": 5,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Water level",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "100",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "3e72855d76a2c208",
        "type": "ui-chart",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "LDR chart",
        "label": "chart",
        "order": 12,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 940,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fe2888d3527c26a3",
        "type": "ui-chart",
        "z": "bef34cc03ba70852",
        "group": "28c59f40f4dd8986",
        "name": "water chart",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#00bfff"
        ],
        "gridColorDefault": false,
        "width": 8,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1190,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "97b0e09491df8320",
        "type": "ui-button",
        "z": "bef34cc03ba70852",
        "group": "28c59f40f4dd8986",
        "name": "My button 2",
        "label": "Send data water",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"watersensorvalue\":301,\"watersensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "73dabe7193a9060f"
            ]
        ]
    },
    {
        "id": "6bfcbcdb9a1a1756",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 3",
        "func": "let mymesg = msg.payload;\nmymesg.tempsensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 320,
        "wires": [
            [
                "65e0b73b49c11368"
            ]
        ]
    },
    {
        "id": "3b079c565330f967",
        "type": "ui-button",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "My button 3",
        "label": "Send data temp",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tempsensorvalue\":302,\"tempsensor\":\"Sens3\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "6bfcbcdb9a1a1756"
            ]
        ]
    },
    {
        "id": "d67925dd96dd84b7",
        "type": "change",
        "z": "bef34cc03ba70852",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "e10980cd67387c26",
                "f09bcf7027c6bb25"
            ]
        ]
    },
    {
        "id": "e10980cd67387c26",
        "type": "ui-gauge",
        "z": "bef34cc03ba70852",
        "name": "temp ",
        "group": "0c269151abe35dd2",
        "order": 2,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "temp",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "100",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "f09bcf7027c6bb25",
        "type": "ui-chart",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "temp chart",
        "label": "chart",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#ff0000"
        ],
        "gridColorDefault": false,
        "width": 8,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f44cfcf2a25f9ea9",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 4",
        "func": "let mymesg = msg.payload;\nmymesg.pressuresensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "65e0b73b49c11368"
            ]
        ]
    },
    {
        "id": "709d0fad02ab5431",
        "type": "ui-button",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "My button 4",
        "label": "Send data",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"pressuresensorvalue\":303,\"pressuresensor\":\"Sens4\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "f44cfcf2a25f9ea9"
            ]
        ]
    },
    {
        "id": "0f9eb470fd5719c0",
        "type": "change",
        "z": "bef34cc03ba70852",
        "name": "pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressuresensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 520,
        "wires": [
            [
                "123e59a8c0eb21cb",
                "5b9bf9cdfdf02cbc"
            ]
        ]
    },
    {
        "id": "123e59a8c0eb21cb",
        "type": "ui-gauge",
        "z": "bef34cc03ba70852",
        "name": "pressure",
        "group": "0c269151abe35dd2",
        "order": 3,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "pressure",
        "units": "pascal",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "100",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "5b9bf9cdfdf02cbc",
        "type": "ui-chart",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "pressure chart",
        "label": "chart",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#ff0000"
        ],
        "gridColorDefault": false,
        "width": 8,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5f533c1940c264b4",
        "type": "ui-gauge",
        "z": "bef34cc03ba70852",
        "name": "turbidity",
        "group": "0c269151abe35dd2",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "turbidity",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "100",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "0",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c0cb67973b58105",
        "type": "ui-chart",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "turb chart",
        "label": "chart",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#ff0000"
        ],
        "gridColorDefault": false,
        "width": 8,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 920,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1f9f5dc5bafad002",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 5",
        "func": "let mymesg = msg.payload;\nmymesg.turbsensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 560,
        "wires": [
            [
                "65e0b73b49c11368"
            ]
        ]
    },
    {
        "id": "0253bfdb280d5876",
        "type": "ui-button",
        "z": "bef34cc03ba70852",
        "group": "0c269151abe35dd2",
        "name": "My button5",
        "label": "Send data",
        "order": 11,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"turbsensorvalue\":304,\"turbsensor\":\"Sens5\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "1f9f5dc5bafad002"
            ]
        ]
    },
    {
        "id": "9827aab1d895ac34",
        "type": "change",
        "z": "bef34cc03ba70852",
        "name": "turbidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.turbsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 600,
        "wires": [
            [
                "5f533c1940c264b4",
                "7c0cb67973b58105"
            ]
        ]
    },
    {
        "id": "981ad355f441ec26",
        "type": "http in",
        "z": "bef34cc03ba70852",
        "name": "",
        "url": "",
        "method": "get",
        "upload": false,
        "x": 270,
        "y": 740,
        "wires": [
            [
                "2615712073bd7b31"
            ]
        ]
    },
    {
        "id": "fa4fec16d1ef1455",
        "type": "http response",
        "z": "bef34cc03ba70852",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "2615712073bd7b31",
        "type": "function",
        "z": "bef34cc03ba70852",
        "name": "function 13",
        "func": "let data = [\n    { time: \"2025-07-07 10:00\", temperature: 25.3, humidity: 60 },\n    { time: \"2025-07-07 10:01\", temperature: 25.5, humidity: 61 }\n];\n\nlet csv = \"time,temperature,humidity\\n\";\ndata.forEach(row => {\n    csv += `${row.time},${row.temperature},${row.humidity}\\n`;\n});\n\nmsg.payload = csv;\nmsg.headers = { \"Content-Type\": \"text/csv\" };\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 740,
        "wires": [
            [
                "fa4fec16d1ef1455"
            ]
        ]
    },
    {
        "id": "4c802746d85c502e",
        "type": "ui-template",
        "z": "4f066a2765eb3e8e",
        "group": "0f66d5366782bd26",
        "page": "",
        "ui": "",
        "name": "notification",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div>\n        <h2>Counter</h2>\n        <!-- Conditional Styling using Attribute Binding (\":\") -->\n        <!-- and rendering content inside <tags></tags> with {{ }} -->\n        <p :style=\"{'color' : (count > 5 ? 'red' : 'green' )}\">Current Count: {{ count }}</p>\n        <!-- Computed Rendering using Vue Computed Variables -->\n        <p class=\"my-class\">Formatted Count: {{ formattedCount }}</p>\n        <!-- Conditional Rendering with \"v-if\" -->\n        <b v-if=\"count > 10\">need more!</b>\n        <v-btn @click=\"increase()\">Increment</v-btn>\n    </div>\n</template>\n\n<script>\n    export default {\n        data() {\n            // define variables available component-wide\n            // (in <template> and component functions)\n            return {\n                count: 0\n            }\n        },\n        watch: {\n            // watch for any changes of \"count\"\n            count: function () {\n                if (this.count % 10 === 0) {\n                    this.send({payload: 'Multiple of 10'})\n                }\n            }\n        },\n        computed: {\n            // automatically compute this variable\n            // whenever VueJS deems appropriate\n            formattedCount: function () {\n                return this.count + ' oranges'\n            }\n        },\n        methods: {\n            // expose a method to our <template> and Vue Application\n            increase: function () {\n                this.count++\n            }\n        },\n        mounted() {\n            // code here when the component is first loaded\n        },\n        unmounted() {\n            // code here when the component is removed from the Dashboard\n            // i.e. when the user navigates away from the page\n        }\n    }\n</script>\n<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        color: black;\n        width: 20%;\n        height: 20%;\n        padding: 40px;\n        background-color: blue;\n        display: flex;\n        align-items: center;\n        border-radius: 80px;\n        \n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": " .my-class",
        "x": 610,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0e8aa401fbd7b5",
        "type": "ui-button",
        "z": "4f066a2765eb3e8e",
        "group": "0f66d5366782bd26",
        "name": "test button",
        "label": "button",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": " .my-class",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "4c802746d85c502e"
            ]
        ]
    },
    {
        "id": "33c3950fd7817edb",
        "type": "ui-gauge",
        "z": "4214f9bd612191e3",
        "name": "",
        "group": "",
        "order": 0,
        "width": 3,
        "height": 3,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "2b55d86c2942fc03",
        "type": "ui-table",
        "z": "4214f9bd612191e3",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": null,
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "append",
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "33a50285e679041a",
        "type": "ui-button",
        "z": "3db004669120fa05",
        "group": "f2b57e8015d8bfc8",
        "name": "My Button pH",
        "label": "Send Data",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"pHsensorvalue\":100,\"pHsensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "174f355e22db9e64"
            ]
        ]
    },
    {
        "id": "174f355e22db9e64",
        "type": "function",
        "z": "3db004669120fa05",
        "name": "function 6",
        "func": "let mymsg = msg.payload;\nmymsg.pHsensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 200,
        "wires": [
            [
                "312306f89698e215"
            ]
        ]
    },
    {
        "id": "4dac99e1da425207",
        "type": "mqtt in",
        "z": "3db004669120fa05",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "24b7331e88796b6b",
                "e2866972f57c564c"
            ]
        ]
    },
    {
        "id": "312306f89698e215",
        "type": "mqtt out",
        "z": "3db004669120fa05",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "24b7331e88796b6b",
        "type": "debug",
        "z": "3db004669120fa05",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "b585630e3bda0fe7",
        "type": "ui-gauge",
        "z": "3db004669120fa05",
        "name": "pH",
        "group": "f2b57e8015d8bfc8",
        "order": 2,
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "pH",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "7034fe65c47fd875",
        "type": "ui-chart",
        "z": "3db004669120fa05",
        "group": "f2b57e8015d8bfc8",
        "name": "pH chart",
        "label": "chart",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 900,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "e2866972f57c564c",
        "type": "change",
        "z": "3db004669120fa05",
        "name": "pH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pHsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "b585630e3bda0fe7",
                "7034fe65c47fd875"
            ]
        ]
    },
    {
        "id": "1844e14a01c7dca7",
        "type": "ui-button",
        "z": "2557561621203113",
        "group": "56b3361ae85263f2",
        "name": "TDS Button",
        "label": "button",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"TDSsensorvalue\":101,\"TDSsensor\":\"Sens2\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "020e91e0c0294eb5"
            ]
        ]
    },
    {
        "id": "e5c3bf3a4031db51",
        "type": "mqtt out",
        "z": "2557561621203113",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 470,
        "y": 320,
        "wires": []
    },
    {
        "id": "ad46cf7dba2e7d90",
        "type": "mqtt in",
        "z": "2557561621203113",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "7150812e08c3478e"
            ]
        ]
    },
    {
        "id": "d65a563fbab61fb0",
        "type": "debug",
        "z": "2557561621203113",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "7150812e08c3478e",
        "type": "change",
        "z": "2557561621203113",
        "name": "TDS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TDSsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "e2f7ef5a60c84f55",
                "0b17a37e6392d0e2"
            ]
        ]
    },
    {
        "id": "e2f7ef5a60c84f55",
        "type": "ui-gauge",
        "z": "2557561621203113",
        "name": "TDS",
        "group": "56b3361ae85263f2",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b17a37e6392d0e2",
        "type": "ui-chart",
        "z": "2557561621203113",
        "group": "56b3361ae85263f2",
        "name": "TDS Chart",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1050,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "020e91e0c0294eb5",
        "type": "function",
        "z": "2557561621203113",
        "name": "function 7",
        "func": "let mymsg = msg.payload;\nmymsg.TDSsensorvalue = parseInt(Math.random() * 100);\nmsg.payload = mymsg;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 240,
        "wires": [
            [
                "e5c3bf3a4031db51"
            ]
        ]
    },
    {
        "id": "beeda7e4a0f13c44",
        "type": "mqtt in",
        "z": "7579ba585a58db4a",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "753e5d223a16f16c",
                "270454fdebd24acf"
            ]
        ]
    },
    {
        "id": "753e5d223a16f16c",
        "type": "debug",
        "z": "7579ba585a58db4a",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "c630154c758877f2",
        "type": "ui-button",
        "z": "7579ba585a58db4a",
        "group": "163f394ca0057f5d",
        "name": "My Button",
        "label": "Send Data",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"LDRsensorvalue\":300,\"LDRsensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "8b49098db0940698"
            ]
        ]
    },
    {
        "id": "092c33d8b97b730a",
        "type": "ui-gauge",
        "z": "7579ba585a58db4a",
        "name": "LDR",
        "group": "163f394ca0057f5d",
        "order": 2,
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "sunlight ",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 990,
        "y": 160,
        "wires": []
    },
    {
        "id": "8b49098db0940698",
        "type": "function",
        "z": "7579ba585a58db4a",
        "name": "function 8",
        "func": "let mymsg = msg.payload;\nmymsg.LDRsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "8788a2d08a6d7e3d"
            ]
        ]
    },
    {
        "id": "ca6cd151f71ff47a",
        "type": "ui-chart",
        "z": "7579ba585a58db4a",
        "group": "163f394ca0057f5d",
        "name": "LDR chart",
        "label": "chart",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1000,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8788a2d08a6d7e3d",
        "type": "mqtt out",
        "z": "7579ba585a58db4a",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 430,
        "y": 320,
        "wires": []
    },
    {
        "id": "270454fdebd24acf",
        "type": "change",
        "z": "7579ba585a58db4a",
        "name": "LDR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LDRsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "092c33d8b97b730a",
                "ca6cd151f71ff47a"
            ]
        ]
    },
    {
        "id": "0fabedd1d4c53302",
        "type": "ui-button",
        "z": "c97ee5904073bf42",
        "group": "4d16dfebb2051d7f",
        "name": "My Button soil_quality",
        "label": "Send Data soil quality",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"soil_qualitysensorvalue\":100,\"soil_qualitysensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "fd7f5ab28091557e"
            ]
        ]
    },
    {
        "id": "fd7f5ab28091557e",
        "type": "function",
        "z": "c97ee5904073bf42",
        "name": "function 9",
        "func": "let mymsg = msg.payload;\nmymsg.soil_qualitysensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "c1dca1fdfbbe0725"
            ]
        ]
    },
    {
        "id": "38c3ee20ab2cc263",
        "type": "mqtt in",
        "z": "c97ee5904073bf42",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 420,
        "wires": [
            [
                "fe362f192a65eaad",
                "e91151868fcf66ab"
            ]
        ]
    },
    {
        "id": "c1dca1fdfbbe0725",
        "type": "mqtt out",
        "z": "c97ee5904073bf42",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "fe362f192a65eaad",
        "type": "debug",
        "z": "c97ee5904073bf42",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "ec5601fbca474a82",
        "type": "ui-gauge",
        "z": "c97ee5904073bf42",
        "name": "soil_quality",
        "group": "4d16dfebb2051d7f",
        "order": 3,
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "soil_quality",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "1e6c37cb8a922b6c",
        "type": "ui-chart",
        "z": "c97ee5904073bf42",
        "group": "4d16dfebb2051d7f",
        "name": "soil_quality chart",
        "label": "chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e91151868fcf66ab",
        "type": "change",
        "z": "c97ee5904073bf42",
        "name": "soil_quality",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soil_qualitysensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "ec5601fbca474a82",
                "1e6c37cb8a922b6c"
            ]
        ]
    },
    {
        "id": "11ebc8572c93a0ad",
        "type": "mqtt in",
        "z": "02c4e23538951b3b",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "22c0671206161973",
                "b5e266ed5794dfab"
            ]
        ]
    },
    {
        "id": "22c0671206161973",
        "type": "debug",
        "z": "02c4e23538951b3b",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "942ab9f16d656de6",
        "type": "ui-button",
        "z": "02c4e23538951b3b",
        "group": "c9af80f12525737b",
        "name": "temperature Button",
        "label": "Send Data",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tempsensorvalue\":103,\"tempsensor\":\"Sens4\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "654f7cd331d7f094"
            ]
        ]
    },
    {
        "id": "f9c12f3a8e8da0fa",
        "type": "ui-gauge",
        "z": "02c4e23538951b3b",
        "name": "temperature",
        "group": "c9af80f12525737b",
        "order": 2,
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "654f7cd331d7f094",
        "type": "function",
        "z": "02c4e23538951b3b",
        "name": "function 10",
        "func": "let mymsg = msg.payload;\nmymsg.tempsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "8c8055d382db731e"
            ]
        ]
    },
    {
        "id": "902d30b9a0af0b7e",
        "type": "ui-chart",
        "z": "02c4e23538951b3b",
        "group": "c9af80f12525737b",
        "name": "temperature chart",
        "label": "chart",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8055d382db731e",
        "type": "mqtt out",
        "z": "02c4e23538951b3b",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5e266ed5794dfab",
        "type": "change",
        "z": "02c4e23538951b3b",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "f9c12f3a8e8da0fa",
                "902d30b9a0af0b7e"
            ]
        ]
    },
    {
        "id": "8a5b0f67b88a8770",
        "type": "ui-button",
        "z": "2c2cdcc8e151c28e",
        "group": "76a9c339b819629c",
        "name": "soil_moisture",
        "label": "Send Data soil_moisture",
        "order": 1,
        "width": 0,
        "height": 0,
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"soil_moisturesensorvalue\":101,\"soil_moisturesensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "04795747f9c432e7"
            ]
        ]
    },
    {
        "id": "04795747f9c432e7",
        "type": "function",
        "z": "2c2cdcc8e151c28e",
        "name": "function 11",
        "func": "let mymsg = msg.payload;\nmymsg.soil_moisturesensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 280,
        "wires": [
            [
                "1bfc34e7d0def469"
            ]
        ]
    },
    {
        "id": "037a4096d0710837",
        "type": "mqtt in",
        "z": "2c2cdcc8e151c28e",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "9e1c619ead8e0a45",
                "7cd8257b05a85fb5"
            ]
        ]
    },
    {
        "id": "1bfc34e7d0def469",
        "type": "mqtt out",
        "z": "2c2cdcc8e151c28e",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "9e1c619ead8e0a45",
        "type": "debug",
        "z": "2c2cdcc8e151c28e",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "56a084e8b6541222",
        "type": "ui-gauge",
        "z": "2c2cdcc8e151c28e",
        "name": "soil_moisture",
        "group": "76a9c339b819629c",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "soil_moisture",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1010,
        "y": 260,
        "wires": []
    },
    {
        "id": "8375bbae415851ec",
        "type": "ui-chart",
        "z": "2c2cdcc8e151c28e",
        "group": "76a9c339b819629c",
        "name": "soil_moisture chart",
        "label": "Soil Moisture",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1130,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7cd8257b05a85fb5",
        "type": "change",
        "z": "2c2cdcc8e151c28e",
        "name": "soil_moisture",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soil_moisturesensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "56a084e8b6541222",
                "8375bbae415851ec"
            ]
        ]
    },
    {
        "id": "6d28b4bb3f3bc79b",
        "type": "ui-button",
        "z": "53929349c7ee3a5b",
        "group": "c7ae25a12c34b4a4",
        "name": "humidity",
        "label": "Send Data HUMIDITY",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"humiditysensorvalue\":101,\"humiditysensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "240be6f2d987b988"
            ]
        ]
    },
    {
        "id": "240be6f2d987b988",
        "type": "function",
        "z": "53929349c7ee3a5b",
        "name": "humidity",
        "func": "let mymsg = msg.payload;\nmymsg.humiditysensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "c8c3e7340a0edf75"
            ]
        ]
    },
    {
        "id": "dde7f1b11441e53e",
        "type": "mqtt in",
        "z": "53929349c7ee3a5b",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 460,
        "wires": [
            [
                "a26fddc59587364d",
                "b80b3b736489ede7"
            ]
        ]
    },
    {
        "id": "c8c3e7340a0edf75",
        "type": "mqtt out",
        "z": "53929349c7ee3a5b",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "a26fddc59587364d",
        "type": "debug",
        "z": "53929349c7ee3a5b",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "128933580d877449",
        "type": "ui-gauge",
        "z": "53929349c7ee3a5b",
        "name": "humiditysensorvalue",
        "group": "c7ae25a12c34b4a4",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "HUMIDITY",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "365d18478bd1655b",
        "type": "ui-chart",
        "z": "53929349c7ee3a5b",
        "group": "c7ae25a12c34b4a4",
        "name": "humiditysensorvalue",
        "label": "chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1220,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b80b3b736489ede7",
        "type": "change",
        "z": "53929349c7ee3a5b",
        "name": "humiditysensor",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humiditysensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 460,
        "wires": [
            [
                "128933580d877449",
                "365d18478bd1655b"
            ]
        ]
    },
    {
        "id": "ede0bd6d4ae7be90",
        "type": "ui-button",
        "z": "d94e539fe4cced5c",
        "group": "bfa056f8e2354464",
        "name": "OCR",
        "label": "Send Data OCR",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"OCRsensorvalue\":101,\"OCRsensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "ca9261e0e2500727"
            ]
        ]
    },
    {
        "id": "ca9261e0e2500727",
        "type": "function",
        "z": "d94e539fe4cced5c",
        "name": "OCR",
        "func": "let mymsg = msg.payload;\nmymsg.OCRsensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 280,
        "wires": [
            [
                "e694d3ee1a0ec88b"
            ]
        ]
    },
    {
        "id": "930e4d8470099709",
        "type": "mqtt in",
        "z": "d94e539fe4cced5c",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 440,
        "wires": [
            [
                "afd6f186480525b1",
                "317a8abc8d58f856"
            ]
        ]
    },
    {
        "id": "e694d3ee1a0ec88b",
        "type": "mqtt out",
        "z": "d94e539fe4cced5c",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 370,
        "y": 380,
        "wires": []
    },
    {
        "id": "afd6f186480525b1",
        "type": "debug",
        "z": "d94e539fe4cced5c",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "5e61d42d8a32a017",
        "type": "ui-gauge",
        "z": "d94e539fe4cced5c",
        "name": "OCRsensorvalue",
        "group": "bfa056f8e2354464",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "4",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "OCR",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "2e7d6ad253469d79",
        "type": "ui-chart",
        "z": "d94e539fe4cced5c",
        "group": "bfa056f8e2354464",
        "name": "OCRsensorvalue",
        "label": "OCR",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 7,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1070,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "317a8abc8d58f856",
        "type": "change",
        "z": "d94e539fe4cced5c",
        "name": "OCRsensorvalue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.OCRsensorvalue",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 440,
        "wires": [
            [
                "5e61d42d8a32a017",
                "2e7d6ad253469d79"
            ]
        ]
    },
    {
        "id": "094c6e4b07d7a1f5",
        "type": "change",
        "z": "c60959e2c796cb2d",
        "name": "POTASSIUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.K",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "250a4839741ce288",
        "type": "change",
        "z": "c60959e2c796cb2d",
        "name": "NITROGEN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.N",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d394734785f9dd6c",
        "type": "change",
        "z": "c60959e2c796cb2d",
        "name": "PHOSPHORUS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.P",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7e0f5b633f267f34",
        "type": "mqtt in",
        "z": "a3eebc9152987c0e",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "08b9edf842e274c8",
                "c19edf7c502d30d9",
                "773d909782b1c422",
                "608eb0228fc3ccb2",
                "a85582cb23ee5a1d",
                "c28a9cb99e17a996",
                "3a7b1311ada90bba",
                "775db8791abee973",
                "ea95d3364e628b04",
                "df78a101893cdf58",
                "0c1982191f0d3ddc",
                "fa22c80bc884cfaf",
                "855c5767696e2a66",
                "900cfa196b3bf8fe",
                "9e08b237828c4b41"
            ]
        ]
    },
    {
        "id": "016c0cba239728a2",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "pH",
        "group": "489c228f34a0409b",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "pH",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "2",
                "color": "#ffbf00"
            },
            {
                "from": "3",
                "color": "#fbff00"
            },
            {
                "from": "5",
                "color": "#90ee90"
            },
            {
                "from": "7",
                "color": "#00ff00"
            },
            {
                "from": "9",
                "color": "#add8e6"
            },
            {
                "from": "12",
                "color": "#cf9fff"
            },
            {
                "from": "14",
                "color": "#0000ff"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "08b9edf842e274c8",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "pH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ph",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "016c0cba239728a2"
            ]
        ]
    },
    {
        "id": "c19edf7c502d30d9",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "TDS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tds",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "930bb80615021278"
            ]
        ]
    },
    {
        "id": "930bb80615021278",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "TDS",
        "group": "489c228f34a0409b",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "TDS",
        "units": "PPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "1000",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "1000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 200,
        "wires": []
    },
    {
        "id": "05dac4ea5814132b",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "LDR",
        "group": "489c228f34a0409b",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Brightness",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1150,
        "y": 240,
        "wires": []
    },
    {
        "id": "773d909782b1c422",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "LDR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.light",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 240,
        "wires": [
            [
                "05dac4ea5814132b"
            ]
        ]
    },
    {
        "id": "3dc3524060122cf9",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "soil quality",
        "group": "489c228f34a0409b",
        "order": 12,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Quality",
        "units": "",
        "icon": "sprout",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "-1",
                "color": "#000000"
            },
            {
                "from": "0",
                "color": "#ff0000"
            },
            {
                "from": "1",
                "color": "#ffa500"
            },
            {
                "from": "2",
                "color": "#00d5ff"
            },
            {
                "from": "3",
                "color": "#00ff00"
            }
        ],
        "min": "-1",
        "max": "3",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "soilQualityGauge",
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "608eb0228fc3ccb2",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "soil quality",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soilQuality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 280,
        "wires": [
            [
                "3dc3524060122cf9",
                "d6a1d8a706115c1e"
            ]
        ]
    },
    {
        "id": "eea115d4a70167aa",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "temperature",
        "group": "489c228f34a0409b",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "a85582cb23ee5a1d",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "eea115d4a70167aa"
            ]
        ]
    },
    {
        "id": "77172039c79381ab",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "soil moisture",
        "group": "489c228f34a0409b",
        "order": 9,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#ffc800"
            },
            {
                "from": "100",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "c28a9cb99e17a996",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "Soil moisture",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soilMoisture",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 420,
        "wires": [
            [
                "77172039c79381ab"
            ]
        ]
    },
    {
        "id": "84908506a4fb123c",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "HUMIDITY",
        "group": "489c228f34a0409b",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#0d0d0d"
            },
            {
                "from": "2",
                "color": "#ff0000"
            },
            {
                "from": "5",
                "color": "#ffbf00"
            },
            {
                "from": "8",
                "color": "#ffff00"
            },
            {
                "from": "14",
                "color": "#00ff00"
            }
        ],
        "min": 0,
        "max": "20",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 460,
        "wires": []
    },
    {
        "id": "3a7b1311ada90bba",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 460,
        "wires": [
            [
                "84908506a4fb123c"
            ]
        ]
    },
    {
        "id": "775db8791abee973",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "POTASSIUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.K",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "db117f97e1da3af7"
            ]
        ]
    },
    {
        "id": "ea95d3364e628b04",
        "type": "debug",
        "z": "a3eebc9152987c0e",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "04ef8e9ce4096ec3",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "NITROGEN",
        "group": "489c228f34a0409b",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Nitrogen",
        "units": "",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#121111"
            },
            {
                "from": "2",
                "color": "#ff7300"
            },
            {
                "from": "10",
                "color": "#ff7300"
            },
            {
                "from": "40",
                "color": "#00ff00"
            },
            {
                "from": "50",
                "color": "#3712f3"
            },
            {
                "from": "100",
                "color": "#ff0000"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "df78a101893cdf58",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "NITROGEN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.N",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 540,
        "wires": [
            [
                "04ef8e9ce4096ec3"
            ]
        ]
    },
    {
        "id": "0c1982191f0d3ddc",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "water level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.waterLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 660,
        "wires": [
            [
                "47ac53ebe433dc65"
            ]
        ]
    },
    {
        "id": "47ac53ebe433dc65",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "water level",
        "group": "489c228f34a0409b",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 12,
        "gtype": "gauge-tank",
        "gstyle": "needle",
        "title": "Water level",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "100",
                "color": "#0062ff"
            },
            {
                "from": "60",
                "color": "#0000ff"
            },
            {
                "from": "40",
                "color": "#00ffaa"
            },
            {
                "from": "30",
                "color": "#ffc800"
            },
            {
                "from": "5",
                "color": "#ff0000"
            },
            {
                "from": "0",
                "color": "#000000"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 660,
        "wires": []
    },
    {
        "id": "fa22c80bc884cfaf",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "PHOSPHORUS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.P",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "1387af1fab28f527"
            ]
        ]
    },
    {
        "id": "d6a1d8a706115c1e",
        "type": "ui-template",
        "z": "a3eebc9152987c0e",
        "group": "489c228f34a0409b",
        "page": "",
        "ui": "",
        "name": "Test",
        "order": 15,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <Teleport v-if=\"mounted\" to=\".soilQualityGauge .nrdb-ui-gauge-half label\">\n    <p ref=\"qText\" :class=\"qualityClass\">{{ qualityText }}</p>\n  </Teleport>\n</template>\n\n<script>\n  export default {\n  data() {\n    return { mounted: false };\n  },\n  computed: {\n    qualityText() {\n      const map = ['Very Bad','Bad','Average','Good','Very Good'];\n      return map[this.msg.payload] || 'waiting';\n    },\n    qualityClass() {\n      const classes = ['very-bad','bad','average','good','very-good'];\n      return classes[this.msg.payload] || 'waiting';\n    }\n  },\n  watch: {\n    msg: {\n      handler() {\n        if(this.$refs.qText) {\n          this.$refs.qText.innerText = this.qualityText;\n        }\n      },\n      deep: true,\n      immediate: true\n    }\n  },\n  mounted() {\n    this.mounted = true;\n  }\n}\n</script>\n\n<style>\n  .very-bad {\n    color: red;\n  }\n\n  .bad {\n    color: darkorange;\n  }\n\n  .average {\n    color: gray;\n  }\n\n  .good {\n    color: green;\n  }\n\n  .very-good {\n    color: blue;\n  }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1150,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "855c5767696e2a66",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "turbidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.turbidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 700,
        "wires": [
            [
                "9a61faf40ac9c7d2"
            ]
        ]
    },
    {
        "id": "9a61faf40ac9c7d2",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "turbidity",
        "group": "489c228f34a0409b",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Turbidity",
        "units": "PPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "50",
                "color": "#00ff00"
            },
            {
                "from": "300",
                "color": "#b1e49b"
            },
            {
                "from": "600",
                "color": "#ffed29"
            },
            {
                "from": "1000",
                "color": "#e70808"
            },
            {
                "from": "1500",
                "color": "#ff0000"
            }
        ],
        "min": 0,
        "max": "1500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1160,
        "y": 700,
        "wires": []
    },
    {
        "id": "db117f97e1da3af7",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "pottasium",
        "group": "489c228f34a0409b",
        "order": 11,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Potassium",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1160,
        "y": 580,
        "wires": []
    },
    {
        "id": "1387af1fab28f527",
        "type": "ui-gauge",
        "z": "a3eebc9152987c0e",
        "name": "phosphorus",
        "group": "489c228f34a0409b",
        "order": 10,
        "value": "payload",
        "valueType": "msg",
        "width": 4,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Phosphorus",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "4",
                "color": "#ffc800"
            },
            {
                "from": "7",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "900cfa196b3bf8fe",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "water pump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.waterPump",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 740,
        "wires": [
            [
                "c2503d1dacef4fa1"
            ]
        ]
    },
    {
        "id": "e5c3ed9390b5eebf",
        "type": "ui-text",
        "z": "a3eebc9152987c0e",
        "group": "489c228f34a0409b",
        "order": 13,
        "width": 4,
        "height": 0,
        "name": "water pump",
        "label": "Water pump",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "11841ea54841a5bc",
        "type": "inject",
        "z": "a3eebc9152987c0e",
        "name": "Turn ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Motor ON",
        "payloadType": "str",
        "x": 980,
        "y": 780,
        "wires": [
            [
                "e5c3ed9390b5eebf"
            ]
        ]
    },
    {
        "id": "554da04775089dbf",
        "type": "inject",
        "z": "a3eebc9152987c0e",
        "name": "Turn OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Motor OFF",
        "payloadType": "str",
        "x": 980,
        "y": 840,
        "wires": [
            [
                "e5c3ed9390b5eebf"
            ]
        ]
    },
    {
        "id": "9e08b237828c4b41",
        "type": "change",
        "z": "a3eebc9152987c0e",
        "name": "fertilizerPump",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.fertilizerPump",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 880,
        "wires": [
            [
                "0b3998954fc44efb"
            ]
        ]
    },
    {
        "id": "21b30e3790560668",
        "type": "ui-text",
        "z": "a3eebc9152987c0e",
        "group": "489c228f34a0409b",
        "order": 14,
        "width": 4,
        "height": 2,
        "name": "fertilizer Pump",
        "label": "Fertilizer Pump",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "x": 1180,
        "y": 880,
        "wires": []
    },
    {
        "id": "137945487b07197b",
        "type": "inject",
        "z": "a3eebc9152987c0e",
        "name": "Turn ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Motor ON",
        "payloadType": "str",
        "x": 980,
        "y": 920,
        "wires": [
            [
                "21b30e3790560668"
            ]
        ]
    },
    {
        "id": "52c4aa0f5f4cbf52",
        "type": "inject",
        "z": "a3eebc9152987c0e",
        "name": "Turn OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Motor OFF",
        "payloadType": "str",
        "x": 980,
        "y": 980,
        "wires": [
            [
                "21b30e3790560668"
            ]
        ]
    },
    {
        "id": "c2503d1dacef4fa1",
        "type": "function",
        "z": "a3eebc9152987c0e",
        "name": "function 14",
        "func": "if (msg.payload === true) {\n    msg.payload = \"Motor ON\";\n} else {\n    msg.payload = \"Motor OFF\";\n}\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 740,
        "wires": [
            [
                "e5c3ed9390b5eebf"
            ]
        ]
    },
    {
        "id": "0b3998954fc44efb",
        "type": "function",
        "z": "a3eebc9152987c0e",
        "name": "function 15",
        "func": "if (msg.payload === true) {\n    msg.payload = \"Motor ON\";\n} else {\n    msg.payload = \"Motor OFF\";\n}\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 880,
        "wires": [
            [
                "21b30e3790560668"
            ]
        ]
    },
    {
        "id": "bc791f1063e2ec80",
        "type": "mqtt in",
        "z": "4c51ccca9eebd239",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "d16e753b1c0fb4e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "69bfd14bf3dc1395",
                "0ac86421e11ee7d3",
                "dfc445e56bb60cfd",
                "d7384c3bfd6b4178",
                "6663e3ab69ba585e",
                "77daeb2b8d99b580",
                "59b0438f4bdaa701",
                "b3486272e0b44cbe",
                "464684eb06ec18a8",
                "58babe61069b9970",
                "2cc73c97a2cf55b0",
                "4790d92418f4089d",
                "fcf6ab3fdc52a463"
            ]
        ]
    },
    {
        "id": "9d3dd57e8ed73cf2",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "pH chart",
        "label": "pHchart",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1080,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "491cc51a73b402a6",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "TDS Chart",
        "label": "TDS chart",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2dbb9392a121ad04",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "LDR chart",
        "label": "LDR chart",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1080,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "245360365e728392",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "Soil Quaity",
        "label": "SOIL QUALITY",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c70cb62529a0f2af",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "Soil moisture",
        "label": "Soil moisture",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ba6c7a21947e85da",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "temperature chart",
        "label": "temp chart",
        "order": 11,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "TIme",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "HH:mm:ss",
        "xmin": "0",
        "xmax": "100",
        "yAxisLabel": "Temperature",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "30",
        "removeOlderUnit": "1",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6386a3e602ab1789",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "NITROGEN",
        "label": "NITROGEN",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e2bf19cf15971523",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "POTASSIUM chart",
        "label": "POTASSIUM",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "64aedeeb03235bf7",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "PHOSPHORUS",
        "label": "PHOSPHORUS",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1100,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1c3f3ea3614662e8",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "water level",
        "label": "water level chart",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "421f5a48c25c9361",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "fertilizer chart",
        "label": "Fertilizer chart",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#d4f000",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#fbff00"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#17eeca"
        ],
        "gridColorDefault": false,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1100,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "69bfd14bf3dc1395",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "pH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pH",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "9d3dd57e8ed73cf2"
            ]
        ]
    },
    {
        "id": "0ac86421e11ee7d3",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "TDS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tds",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "491cc51a73b402a6"
            ]
        ]
    },
    {
        "id": "dfc445e56bb60cfd",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "LDR",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ldr",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "2dbb9392a121ad04"
            ]
        ]
    },
    {
        "id": "d7384c3bfd6b4178",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "soil quality",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soil_quality",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 300,
        "wires": [
            [
                "245360365e728392"
            ]
        ]
    },
    {
        "id": "6663e3ab69ba585e",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempC",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 340,
        "wires": [
            [
                "ba6c7a21947e85da"
            ]
        ]
    },
    {
        "id": "77daeb2b8d99b580",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "Soil moisture",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.soilMoisture",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 380,
        "wires": [
            [
                "c70cb62529a0f2af"
            ]
        ]
    },
    {
        "id": "59b0438f4bdaa701",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "3ae38b3f019f57c2"
            ]
        ]
    },
    {
        "id": "464684eb06ec18a8",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "POTASSIUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.K",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "e2bf19cf15971523"
            ]
        ]
    },
    {
        "id": "b3486272e0b44cbe",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "NITROGEN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.N",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "6386a3e602ab1789"
            ]
        ]
    },
    {
        "id": "2cc73c97a2cf55b0",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "water level",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "1c3f3ea3614662e8"
            ]
        ]
    },
    {
        "id": "4790d92418f4089d",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "fertilizer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sol",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 660,
        "wires": [
            [
                "421f5a48c25c9361"
            ]
        ]
    },
    {
        "id": "58babe61069b9970",
        "type": "change",
        "z": "4c51ccca9eebd239",
        "name": "PHOSPHORUS",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.P",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 580,
        "wires": [
            [
                "64aedeeb03235bf7"
            ]
        ]
    },
    {
        "id": "3ae38b3f019f57c2",
        "type": "ui-chart",
        "z": "4c51ccca9eebd239",
        "group": "9ec07271f2a5b2d1",
        "name": "HUMIDITY",
        "label": "HUMIDITY chart",
        "order": 12,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "dash",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1090,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fcf6ab3fdc52a463",
        "type": "debug",
        "z": "4c51ccca9eebd239",
        "name": "debug1234",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "25c8190322001982",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 24",
        "func": "let mymsg = msg.payload;\nmymsg.pHsensorvalue = parseInt(Math.random() * 7);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 220,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "10125dfa6bf03d88",
        "type": "mqtt out",
        "z": "bf2a79eb3678c516",
        "name": "",
        "topic": "mything-io",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d16e753b1c0fb4e4",
        "x": 1830,
        "y": 520,
        "wires": []
    },
    {
        "id": "c6e12ad90bc33387",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 25",
        "func": "let mymsg = msg.payload;\nmymsg.TDSsensorvalue = parseInt(Math.random() * 100);\nmsg.payload = mymsg;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 280,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "946a34c9ca5920ca",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 26",
        "func": "let mymsg = msg.payload;\nmymsg.LDRsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 340,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "6514a58be83e1587",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 27",
        "func": "let mymsg = msg.payload;\nmymsg.pressuresensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 400,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "5d0595fdc22773c1",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 28",
        "func": "let mymsg = msg.payload;\nmymsg.tempsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 460,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "62f0a39bc8d8d034",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 29",
        "func": "let mymsg = msg.payload;\nmymsg.turbsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 520,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "eb1a5181e0418a31",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "HUMIDITY",
        "func": "let mymsg = msg.payload;\nmymsg.HUMIDITYsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 580,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "bd93b8a3b3c0c6c7",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "ORP",
        "func": "let mymsg = msg.payload;\nmymsg.ORPsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 640,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "428324a40282c476",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "soil_quality",
        "func": "let mymsg = msg.payload;\nmymsg.soil_qualitysensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 700,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "49579ae2327a6deb",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "AN",
        "func": "let mymsg = msg.payload;\nmymsg.ANsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 760,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "08ca00cac1507579",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "ENV",
        "func": "let mymsg = msg.payload;\nmymsg.ENVsensorvalue = parseInt(Math.random() * 50);\nmsg.payload = mymsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 820,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "7184293881b9a336",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 30",
        "func": "let mymesg = msg.payload;\nmymesg.watersensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 860,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "cc53845ee815400c",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "My Button pH",
        "label": "Send Data ph",
        "order": 1,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"pHsensorvalue\":100,\"pHsensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1180,
        "y": 200,
        "wires": [
            [
                "25c8190322001982"
            ]
        ]
    },
    {
        "id": "f0878d4710ae40c3",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "TDS Button",
        "label": "tds button",
        "order": 2,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"TDSsensorvalue\":101,\"TDSsensor\":\"Sens2\"}",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "c6e12ad90bc33387"
            ]
        ]
    },
    {
        "id": "8c18baad6746fa5c",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "LDR button",
        "label": "Send Data LDR",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"LDRsensorvalue\":300,\"LDRsensor\":\"Sens1\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1190,
        "y": 320,
        "wires": [
            [
                "946a34c9ca5920ca"
            ]
        ]
    },
    {
        "id": "df23cf196942e432",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "PRESSURE Button",
        "label": "Send Data press",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"pressuresensorvalue\":102,\"pressuresensor\":\"Sens3\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1190,
        "y": 380,
        "wires": [
            [
                "6514a58be83e1587"
            ]
        ]
    },
    {
        "id": "650e415a55e14540",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "temperature Button",
        "label": "Send Data temp",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"tempsensorvalue\":103,\"tempsensor\":\"Sens4\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "5d0595fdc22773c1"
            ]
        ]
    },
    {
        "id": "e106439f51ef08bf",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "turbidity",
        "label": "Send Data turb",
        "order": 8,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"turbsensorvalue\":104,\"turbsensor\":\"Sens5\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1180,
        "y": 500,
        "wires": [
            [
                "62f0a39bc8d8d034"
            ]
        ]
    },
    {
        "id": "79fdd0c5c53a6619",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "HUMIDITY",
        "label": "Humidity",
        "order": 7,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"HUMIDITYsensorvalue\":105,\"HUMIDTYsensor\":\"Sens6\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "eb1a5181e0418a31"
            ]
        ]
    },
    {
        "id": "36d5702d002a8452",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "ORP",
        "label": "Send Data ORP",
        "order": 6,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"ORPsensorvalue\":106,\"ORPsensor\":\"Sens7\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 620,
        "wires": [
            [
                "bd93b8a3b3c0c6c7"
            ]
        ]
    },
    {
        "id": "5cb1c29e795d2665",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "EC",
        "label": "Send Data EC",
        "order": 9,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"soil_qualitysensorvalue\":107,\"soil_qualitysensor\":\"Sens8\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 680,
        "wires": [
            [
                "428324a40282c476"
            ]
        ]
    },
    {
        "id": "5531b9f7a077bdcc",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "AN",
        "label": "Send Data AN",
        "order": 10,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"ANsensorvalue\":108,\"ANsensor\":\"Sens9\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "49579ae2327a6deb"
            ]
        ]
    },
    {
        "id": "527394bdd3b17442",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "ENV",
        "label": "Send Data env",
        "order": 11,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"ENVsensorvalue\":109,\"ENVsensor\":\"Sens10\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 800,
        "wires": [
            [
                "08ca00cac1507579"
            ]
        ]
    },
    {
        "id": "cd427b90ba33c4fc",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "water button",
        "label": "Send data water",
        "order": 12,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"watersensorvalue\":301,\"watersensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1150,
        "y": 840,
        "wires": [
            [
                "7184293881b9a336"
            ]
        ]
    },
    {
        "id": "8569397ee161f02a",
        "type": "function",
        "z": "bf2a79eb3678c516",
        "name": "function 12",
        "func": "let mymesg = msg.payload;\nmymesg.solsensorvalue = parseInt(Math.random()*50)\nmsg.payload = mymesg;\n// let msg2 = msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 920,
        "wires": [
            [
                "10125dfa6bf03d88"
            ]
        ]
    },
    {
        "id": "778e83d856e649d3",
        "type": "ui-button",
        "z": "bf2a79eb3678c516",
        "group": "6ba1c753604ec92f",
        "name": "solution button",
        "label": "Send data solution",
        "order": 13,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"solrsensorvalue\":301,\"solsensor\":\"Sens2\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "8569397ee161f02a"
            ]
        ]
    }
]